@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Times";
  src:
    local("Times"),
    url("./font/times-ttf/times-new-roman.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    local("Satoshi"),
    url("./font/satoshi-otf/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    local("Satoshi Bold"),
    url("./font/satoshi-otf/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    local("Satoshi Medium"),
    url("./font/satoshi-otf/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    local("Satoshi Light"),
    url("./font/satoshi-otf/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    local("Satoshi Black"),
    url("./font/satoshi-otf/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi", sans-serif !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* scrollbar-width: none; */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.times {
  font-family: "Times", sans-serif !important;
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.case_study_blur {
  background: #16063e80;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.text-stroke {
  font-feature-settings:
    "clig" off,
    "liga" off;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(#fff);
}

.btn-shadow {
  background: #fff;
}

.btn-shadow:hover {
  box-shadow:
    0px 0px 0px 1.5px #cec2fa,
    0px -4px 6px -1px #ad9bef inset;
  background: #f1edfd;
}

.mobileNav-bg {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 3px 0px rgba(22, 6, 62, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.faq-shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06) inset;
}

@keyframes ping {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(1.2);
    opacity: 0.5;
  }
}
.animate-ping {
  animation: ping 1.4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.stroked-text {
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
-webkit-text-stroke-width: 1.5;
-webkit-text-stroke-color: #FFF;
font-family: Satoshi;

}
.stroked-text2 {
  -webkit-text-stroke: 1.5px #fff;
  -webkit-text-fill-color: transparent;

}
